{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment Form</h1>
    <form method="POST" action="{{ path('handle_invoice') }}">
        <label>
            <input type="text" name="first_name" placeholder="First Name">
        </label>
        <label>
            <input type="text" name="last_name" placeholder="Last Name">
        </label>
        <label>
            <input type="email" name="email" placeholder="Email">
        </label>
        <label>
            <input type="number" step="0.01" name="amount" placeholder="Amount">
        </label>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
