{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment Information</h1>
    <p>Id: {{ invoice.getId() }}</p>
    <p>Amount: {{ invoice.getAmount() }}</p>
    <p>Currency: {{ invoice.getCurrency() }}</p>
    <img src="{{ payment_info.metadata.qr_code }}" alt="QR Code">
{% endblock %}
